{% extends "Ganspa/base.html" %}
{% load static %}
<!doctype html>
<html lang="ja">
<head>
    {% block css %}
    <meta charset="utf-8">
    <title>Ganspa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Ganspa/css/top.css' %}"/>
    {% endblock %}
</head>
<body>
    {% block content %}
    <form method="post" style="padding-left:20px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
    </form>
    {% endblock %}
</body>
</html>