{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Ganspa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Ganspa/css/top.css' %}"/>
</head>
<body class="container">
    <img src="{% static 'Ganspa/img/cafe.png' %}" class="cafe"/>
    <h1>Ganspa</h1>
    <p>hiromu morisaki</p> 
    <a href="https://us05web.zoom.us/j/81931427678?pwd=TjRSb2hHNko0Nk1ycExnZlpwWnd2Zz09">Ganspaへ参加します</a>
   <p>zoomURL</p> 
   <a href="{% url 'guide' %}">guideページへ</a>
   <a href="{% url 'users' %}">usersページへ</a>
   <a href="{% url 'user' %}">userページへ</a>


</body>
</html>